.counter {
  width: min(64%, 12rem);
  height: 2.5rem;
  padding: 0.5rem;

  color: var(--Rose-50);
  border: 1px solid var(--Red);
  border-radius: 100vw;
  background-color: var(--Red);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter__btn {
  width: 1rem;
  height: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100vw;
  border: 1px solid var(--Rose-50);

  svg {
    width: 0.75rem;
    fill: var(--Rose-50);
  }
}

.counter__btn:hover {
  background-color: var(--Rose-50);

  svg {
    fill: var(--Red);
  }
}
